[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
Environment=PATH=/opt/venv/bin/
WorkingDirectory=/root/www/AsapovCsp
ExecStart=/root/www/AsapovCsp/env/bin/gunicorn --workers 3 -b localhost:8001 AsapovCsp.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
