{% include 'main.html' %}

{% block content %}
    <div class="cadet-detail">
        <a class="back-arrow" href="{% url 'cadets_list' %}">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-a</title><polyline points="244 400 100 256 244 112" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"></polyline><line x1="120" y1="256" x2="412" y2="256" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"></line></g></svg>
            <div>Назад</div>
        </a>
        <h1>{{ cadet }}</h1>
        {% if perfomances %}
            <div class="perfomance-list">
                {% for perfomance in perfomances %}
                    <div class="perfomance-item">
                        <div class="perfomance-name">{{ perfomance.name }}</div>
                        <p>{{ perfomance.value }} <span>{{ perfomance.unit }}</span></p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Тут ничего нет
        {% endif %}
    </div>
{% endblock %}

