{% extends 'main.html' %}

{% block data %}
    <h1>Список курсантов</h1>
    <div class="cadet-list">
        {% for cadet in cadets %}
            <a class="cadet-link" href="{% url 'cadet_detail' cadet.id %}">
                <img src="/media/no-ava.jpeg" alt="" width="30" height="30">
                <div class="cadet-data">
                    <div class="cadet-heading">{{ cadet }}</div>
                    <div class="cadet-subhading">Курсант</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}